body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgb(250, 250, 250) 23%, rgb(232, 232, 232) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px;
  font-size: 1.2em;
}

button{
  border: none;
  padding: 10px;
  background: black;
  color:#fff;
  font-size: 1.2em;
  font-weight: bold;
}

.container{
  position: relative;
}

.register{
  position: fixed;
  padding:30px;
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
  top:35%;
  left:32%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
}

.chat-box{
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 30px 50px;
  height: 700px;
  padding: 1% 2.5%;
  flex-direction: row;
  background-color: rgb(238, 238, 238);
}

.member-list{
  width: auto;
  display: block;
  height: 17%;
}

.chat-content{
  width:100%; 
}

.chat-messages{
  padding-top: 1%;
  padding-bottom: 1%;
  width: auto;
  height: 375px;
  border: none;
  background-color: rgb(215, 215, 215);
  border-radius: 12px;
}

.send-message{
  width:100%;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.input-message{
  margin-top: 1%;
  height: 20px;
  width:90%;
  border-radius: 50px;
  margin-left: 2%;
  background-color: rgb(232, 232, 232);
}

.input-message:focus{
  background-color: rgb(245, 245, 245);
}

ul {
  padding: 0;
  list-style-type: none;
}

.send-button{
  text-align: center;
  width: 4%;
  height: 45px;
  font-size: 25px;
  border-radius: 50%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 1%;
  cursor: pointer;
  background-color: rgb(189, 116, 21);
}

.send-button:hover{
  background-color: rgb(216, 129, 22);
}

#iconoSend{
  padding-bottom: 0;
  padding-top: 1%;
  font-weight: bold;
}

.member{
  text-align: center;
  padding: 7px 10px 3px 10px;
  background: rgb(210, 210, 210);
  border:#000;
  cursor: pointer;
  margin: 1%;
  box-shadow: 0 8px 8px -4px rgb(69, 69, 69);
  float: left;
  width: 10%;
  border-radius: 50px;
  font-size: 20px;
  /*
  display: flex;
  flex-direction: row;*/
}

.member:hover{
  -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

#iconoMember{
  margin-right: 10%;
}

.member.active{
  background: rgb(189, 116, 21);
  color:#fff;
}

.member:hover{
  background: rgb(216, 129, 22);
  color:#fff;
}

.avatar{
  background-color: rgb(91, 91, 91);
  padding: 3px 10px;
  border-radius: 50px;
  color:#fff;
}
.avatar.self{
  border-radius: 50px;
  padding: 3px 10px;
  color:#fff;
  background-color: rgb(122, 122, 122);
}
.message{
  padding:5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
}
.message-data{
  padding:5px 7px;
}
.message.self{
  justify-content: end;
}